mixin card-skills(title, data)
	.col-4_sm-12.skills-item
		h3 #{title}
		br 
		each n in data 
			.skills-item-text 
				.pull-left #{n.text} 
				.pull-right
					- let m = 1
					while m <= 5
						if m <= n.score
							i.fa.fa-star 
						else
							i.fa.fa-star-o
						- m++       

mixin card-work(data) 
	.col-4_md-6_sm-12.work-item
		.work-item-content
			.cover 
				a(href=data.link target='_blank')
					img(src=data.thumb)
			.meta
				a(href=data.link target='_blank')
					h1 #{data.title}
				p
					| #{data.desc}
					br
				small
					strong #{data.as}&nbsp;
					| - 
					| #{data.dev}

mixin card-opensource(data)
	.col-2_md-4_sm-6.opensource-item 
		a(href=data.link target="_blank" rel="noopener noreferer") 
			img(src=data.thumb)
		p 
			Strong #{data.title}
			br
			small.color-gray #{data.desc}.

mixin card-works(data)
	.col-3_md-3_sm-6.works-item 
		a(href=data.link target="_blank" rel="noopener noreferer") 
			img(src=data.thumb)
		p 
			Strong #{data.title}
			br
			small #{data.desc}.
			br 
			small.color-gray #{data.time}